
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 50px repeat(6, 100px);
    width: 100%;
}

.calendar__header, .calendar__week_day {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .235rem;
    background-color: rgb(59, 59, 218);
    color: #ffffff;
    width: 100%;
    font-weight: 500;
}

.calendar__header {
    justify-content: space-between;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
}