.App {
  width: 75vw;
  margin: 0 auto;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-direction: column;
}

.App-footer header {
  display: flex;
  justify-content: space-between;
}

.App-footer header h6 {
  margin: .5rem;
}